.title{
    color: red;
    text-align: center;
    font-size: 50px;
}

.paragraph{
    color: black;
    text-align: justify;
    font-size: 25px;
    border-style: ridge;
    border-width: 3px;
    border-radius: 20px;
}